<?xml version="1.0"?>

<launch>

    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
        
        <param name="base_frame" value="base"/>
        <param name="odom_frame" value="odom" />

    </node>
    
    <include file="$(find legged_navigation)/launch/mapping_avoiding_movebase.launch" />




</launch>
