<?xml version="1.0"?>

<launch>
    <arg name="map_file" default="/home/omer/gmapping.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom_pub_thirtyone" args="0 0 0 0 0 0 1 map odom 100" /-->

    <include file="$(find legged_navigation)/launch/amcl.launch" />
    <include file="$(find legged_navigation)/launch/move_base.launch" />

    

</launch>
